.sentence-container {
    border: black solid 1px;
    margin-top: 5px;
}

.sentence {
    margin: 5px;
}

.listen:before {
    content: "🔈";
}
.maleBeforeIcon:before {
    content: "👱🏻 ";
}
.femaleBeforeIcon:before {
    content: "👩🏻 ";
}

.first-language {
    color: #000000;
}

.second-language {
    color: #707070;
    margin-left: 10px;
}

.input-language-container {
    margin-right: 15px;
}
.input-language-container .input {
    width: 100%;
    color: #000000;
}

.hide {
    display: none;
}

.explain-container {
    max-height: 200px;
    overflow: auto;
    /*margin-left: 10px;*/
}

.explain.word {
    margin-left: 15px;
    margin-top: 10px;
    color:darkcyan;
}
.explain.mean-container {
    margin-left: 20px;
}
.explain.mean-container .type {
    font-size: 10px;
    color: #9f9f9f;
}
.explain.mean-container .mean {
    margin-left: 15px;
    font-size: 12px;
    color: #5d5d5d;
}
.toggle {
    margin: 10px 10px;
    font-size: 20px;
}
.slider {
    margin: 0px 5%;
    width: 90%;
    /*font-size: 20px;*/
}
.attention {
    font-weight: bold;
    color: brown;
}

/*.toggle {*/
/*}*/
/*.toggle:after {*/
/*    content: "👉🏻";*/
/*}*/

/*.openclose:before {*/
/*    content: "🔈";*/
/*}*/

